<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      width: 100%;
      } 
      .code{ 
      width: 100px;
      height: 40px;
      background-color: red; 
      text-align: center; 
      padding: 10px 0 0 0; 
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHm9Ijcc90W_GLKh9Vypku7R-cQAAZBiGpAw&usqp=CAU"
        />
      </div>
      <small>Hi</small>
      <p>Here is the confirmation code </p>
      <span class="code">
        0000
      </span>
      <p>
        All you have to do is copy the confirmation code and paste it to your
        form to complete the email verification process.
      </p>
    </div>
  </body>
</html>