.popup_box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: popup 0.3s;
}
.poup_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 80%;
  background-color: rgba(11, 103, 217, 0.878);
  border-radius: 20px;
  box-shadow: 0 0 5px black;
}
@keyframes popup {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0);
  }
}

.icon {
  font-size: 150px;
  color: rgb(148, 231, 24);
  background-color: #fff;
  border-radius: 50%;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputs input:focus {
  outline: none;
}
.inputs .confirm {
  padding: 0.5rem 2.7rem;
  font-size: 1rem;
  background-color: rgb(148, 231, 24);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
.inputs input {
  background-image: linear-gradient(
    to right,
    #ddd,
    #ddd 1.5ch,
    transparent 1.5ch,
    transparent 2ch,
    #ddd 2ch,
    #ddd 3.5ch,
    transparent 3.5ch,
    transparent 4ch,
    #ddd 4ch,
    #ddd 5.5ch,
    transparent 5.5ch,
    transparent 6ch,
    #ddd 6ch,
    #ddd 7.5ch,
    transparent 7.5ch,
    transparent 8ch,
    #ddd 8ch,
    #ddd 9.5ch,
    transparent 9.5ch,
    transparent 10ch,
    #ddd 10ch,
    #ddd 11.5ch,
    transparent 11.5ch
  );
  background-size: 12ch 0.2ch;
  background-repeat: no-repeat;
  background-position: calc(1.2em - 1ch) 2.25em;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  border: 2px solid rgba(250, 250, 250, 0.625);
  border-radius: 5px;
  width: calc(2.5ch * 6);
  text-transform: uppercase;
  letter-spacing: 1ch;
}
